{% extends 'base.html' %}

{% block search %}    
{% include "users/includes/search_comment.html" %}    
{% endblock %}

{% block content %}
{% if total > 0 %}
<p class="total_count">Всего комментариев : {{ total }}</p><br>
<table>
    <caption>Комментарии к оборудованию</caption>
    <thead>
        <tr>
            <th>Оборудование</th>
            <th>Комментарий</th>
            <th>Автор</th>
            <th>Дата / время</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td><a href="{{ post.equipment.get_absolute_url }}">{{ post.equipment.title }}</a></td>
            <td>{{ post.body }}</td>
            <td>{{ post.user }}<br>({{ post.user.job }})</td>
            <td>{{ post.time_create }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p class="total_count" style="padding: 10px;">Всего коментариев: {{ total }} шт</p><br>
{% endif %}
{%  endblock content %}

{% block pagination %}
    <div id="pagination">
        {% if page_obj.has_other_pages %}
    <nav class="list-pages">
        <ul>
    {% if page_obj.has_previous %}
    <li class="page-num">
        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
    </li>
    {% endif %}
    
            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-num page-num-selected">{{ p }}</li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
            <li class="page-num">
                <a href="?page={{ p }}">{{ p }}</a>
            </li>
            {% endif %}
            {% endfor %}
    
    {% if page_obj.has_next %}
    <li class="page-num">
        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
    </li>
    {% endif %}
    
        </ul>
    </nav>
    {% endif %}
        </div>
    </div>
{% endblock %}
