{% extends 'base.html' %}
{%  load static %}

{% block content %}

    <div class="main-info">
        <div class="foto">
            <img id="size" src="{{equipment.photo.url }}">
        </div>
        <div class="information">
            <p>Название : {{ equipment.title }}</p>
            <p>Место установки : {{ equipment.place }}</p>
            <p>Характеристика : {{ equipment.characteristic }}</p>
            <p>Категория : <a style="color: rgb(172, 38, 38);" href="{% url 'show_category' equipment.cat.slug %}">{{ equipment.cat }}</a></p>
        </div>
        </form>
    </div>
    <div class="other-info">
        <div class="journal">
            {% if journals.count > 0 %}
            <p>Всего ремонтов : {{ journals.count }}</p>
            <details>
                <summary>Последний ремонт</summary>
                <div style="width: 300px; height: auto; border: 1px solid rgb(29, 28, 27); margin-left: 10px; border-radius: 15px;">
                <ul>
                    {% for journal in journals|slice:"1" %}
                    <a href="{%  url 'journal_equipment' equipment.slug %}" style="width: 250px; text-decoration: none; color: rgb(116, 27, 27);">{{ journal.body | truncatewords:2 }}<br>({{ journal.time_create }})</a><br>
                    {% endfor %}
                </ul>
                </div>
            </details><br>
            {% else %}
            <p>Не был в ремонте</p>
            {% endif %}
            <div class="form_journal">
                <form action="{% url 'journal_record' %}" method="POST">
                    {% csrf_token %}
                    <input id="user" name="user" type="hidden" value="{{ request.user.pk }}"/>
                    <input id="equipment" name="equipment" type="hidden" value="{{ equipment.pk }}"/>
                    <textarea id="body" name="body" type="text" placeholder="Введите описание ремонта" minlength="5" required></textarea>
                    <button  type="submit">Записать в журнал</button>
                </form>
            </div><br>  
        </div>
        <div class="comments">
            {% if comments.count > 0 %}
            <p>Всего комментариев : {{ comments.count }}</p>
            <details>
                <summary>Последний комментарий</summary>
                <div style="width: 300px; height: auto; border: 1px solid rgb(29, 28, 27); margin-left: 10px; border-radius: 15px;">
                <ul>
                    {% for comment in comments|slice:"1" %}
                    <a href="{%  url 'comment_equipment' equipment.slug %}"  style="width: 250px; text-decoration: none; color: rgb(116, 27, 27);">{{ comment.body | truncatewords:2 }}<br>({{ comment.time_create }})</a><br>
                    {% endfor %}
                </ul>
                </div>
            </details><br>
            {% else %}
            <p>Нет комментариев</p>
            {% endif %}
            <div class="form_journal">
                <form action="{% url 'comment_record' %}" method="POST">
                    {% csrf_token %}
                    <input id="user" name="user" type="hidden" value="{{ request.user.pk }}"/>
                    <input id="equipment" name="equipment" type="hidden" value="{{ equipment.pk }}"/>
                    <textarea id="body" name="body" type="text" placeholder="Введите комментарий" minlength="5" required></textarea>
                    <button  type="submit">Оставить комментарий</button>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}


