{% extends 'base_profile.html' %}

{% block search %}    
{% include "users/includes/search_profile_journal.html" %}    
{% endblock %}



{% block content %}
{% for journal in journals %}
<div class="messages_element">
    <div id="owner"><a href="{%  url 'journal_equipment' journal.equipment.slug %}">{{ journal.equipment.title }}</a></div>
    <div id="time">{{ journal.time_create }}</div>
    <div id="body">{{ journal.body }}</div>
</div>   
{% endfor %}
{% endblock %}

{% block pagination %}
<div id="pagination">
    {% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
{% if page_obj.has_previous %}
<li class="page-num">
    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
</li>
{% endif %}

        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}

{% if page_obj.has_next %}
<li class="page-num">
    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
</li>
{% endif %}

    </ul>
</nav>
{% endif %}
    </div>
</div>
{% endblock %}
