<div class="search">
    <form action="{% url 'search_profile' %}" method="POST">
        {% csrf_token %}
        <input id="search" name="query" type="text" placeholder="введите запрос" required>
        <button class="search-button" type="submit">Поиск</button>
    </form>
    <script>
        $(function() {
            $("#search").autocomplete({
                source: "{% url 'profile-autocomplete' %}",
                minLength: 2, // Minimum characters before triggering autocomplete
            });
        });
    </script>  
</div>